.checkbox {
   position: relative;

   &:not(:last-child) {
      margin-bottom: em(5);
   }
   // .checkbox__input
   &__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

      &:focus + .checkbox__label:before {
         box-shadow: 0 0 2px var(--main-bg-color);
      }
      &:checked + .checkbox__label:before {
         @extend %ic;
         content: "\e911";
         color: var(--main-bg-color);
         font-size: rem(10);
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   // .checkbox__label
   &__label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      position: relative;
      gap: 10px;
      &:before {
         content: "";
         // align-self: flex-start;
         flex: 0 0 rem(20);
         width: rem(18);
         height: rem(18);
         border-radius: 2px;
         border: 1px solid #cac8ca;
         position: relative;
         top: -10px;
      }
   }
   // .checkbox__text
   &__text {
   }
}
