// Заголовки, общие БЄМ блоки и проче...
.breadcrumbs {
   color: #222022;
   position: relative;
   z-index: 2;
   // .breadcrumbs__list

   &__list {
      display: flex;
      white-space: nowrap;
      overflow: auto;
   }

   // .breadcrumbs__item

   &__item {
      padding: 0px 2px;
      font-size: rem(16);
      font-family: "Nunito Sans";
      line-height: math.div(20.8, 16);
   }

   // .breadcrumbs__link

   &__link {
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: var(--main-bg-color);
         }
      }
      &::after {
         content: " /";
      }
   }

   // .breadcrumbs__current

   &__current {
      opacity: 0.8;
   }
}

//========================================================================================================================================================

.title {
   color: #161516;
   font-size: rem(38);
   line-height: 120%;
   font-family: "Source Serif Pro";
   text-align: center;
   &__white {
      color: #fff;
   }
}

//========================================================================================================================================================
.three-sliders-main {
   // .three-sliders-main__container

   &__container {
      display: flex;
      align-items: center;
      position: relative;
      overflow: visible;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }

   // .three-sliders-main__body

   &__body {
      position: relative;
      z-index: 6;
      padding-left: rem(10);
      max-width: rem(280);
      padding-right: rem(110);
      @media (max-width: $tablet) {
         align-self: flex-start;
         &:not(:last-child) {
            margin-bottom: rem(40);
         }
      }
      @media (max-width: $tablet) {
         max-width: 100%;
      }
   }

   // .three-sliders-main__title

   &__title {
      text-align: left;
      @include adaptiveValue("font-size", 38, 22);
   }

   // .three-sliders-main__slider

   &__slider {
      flex: 1 1 auto;
      align-self: flex-start;
      position: relative;
      &.swiper {
         overflow: visible;
         position: relative;
      }
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         background-color: #fff;
         z-index: 2;
         width: 100vw;
         transform: translate(-100%, 0px);
      }
      @media (max-width: $tablet) {
         width: 100%;
      }
   }

   // .three-sliders-main__swiper

   &__swiper {
   }

   // .three-sliders-main__slide

   &__slide {
      @include adaptiveValue("flex-basis", 456, 295);
      position: relative;
   }

   // .three-sliders-main__image-ibg

   &__image-ibg {
      padding: 0px 0px 77% 0px;
      margin-bottom: rem(24);
   }

   // .three-sliders-main__text

   &__text {
      font-family: "Nunito Sans";
      font-size: rem(18);
      line-height: 150%;
   }

   // .three-sliders-main__pagination

   &__pagination {
      &.swiper-pagination-progressbar {
         position: absolute;
         bottom: -25px;
         left: 0;
         @include adaptiveValue("max-width", 1100, 280);
      }
   }
}

.three-sliders-main-button {
   position: absolute;
   left: 2%;

   padding: 5px;
   cursor: pointer;
   top: 70%;
   font-size: rem(6);
   left: -270px;
   z-index: 10;
   &::before {
      transition: all 0.3s ease 0s;
   }
   @media (max-width: $tablet) {
      top: -30px;
      left: 0%;
   }

   @media (any-hover: hover) {
      &:hover {
         &::before {
            color: var(--main-bg-color);
         }
      }
   }
   &:focus {
      &::before {
         color: #dd8e94;
      }
   }
   // .three-sliders-main-button__prev

   &__prev {
      &::before {
         transform: rotate(-180deg);
      }
   }

   // .three-sliders-main-button__next

   &__next {
      left: -200px;
      top: 69.729%;

      @media (max-width: $tablet) {
         left: rem(100);
         top: -30.6px;
      }
   }
}
